<script lang="ts" setup>
import FrameworkPop from "@/components/FrameworkPop.vue";
</script>
<template>
    <v-container>
        <v-row>
            <v-col>
            <FrameworkPop></FrameworkPop>
        </v-col>
        <v-col>
            <FrameworkPop></FrameworkPop>
        </v-col>
        <v-col>
            <FrameworkPop></FrameworkPop>
        </v-col>
        </v-row>
    </v-container>
</template>