<script lang="ts" setup>
import FrameworkPop from "@/components/FrameworkPop.vue";
</script>
<template>
    <v-card
    class="mx-auto"
    max-width="344"
    variant="outlined"
  >
  <v-img
  src="https://image.thepeople.co/uploads/2021/01/%E0%B9%84%E0%B8%82%E0%B9%88%E0%B8%82%E0%B8%B5%E0%B9%89%E0%B8%84%E0%B9%89%E0%B8%B2%E0%B8%99_Website_1200x628.jpg?x-image-process=style/lg-webp"
  height="200px"
  cover>
</v-img>
    <v-card-item>
      <div>
        <div class="text-overline mb-1">
          OVERLINE
        </div>
        <div class="text-h6 mb-1">
          Headline
        </div>
        <div class="text-caption">Greyhound divisely hello coldly fonwderfully</div>
      </div>
    </v-card-item>

    <v-card-actions>
      <v-btn variant="outlined">
        Button
      </v-btn>
    </v-card-actions>
  </v-card>
</template>